.main-container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  margin-top: $height-header;
  @media only screen and (min-width: 1024px) {
    max-width: 1024px;
  }
  @media only screen and (min-width: 1280px) {
    max-width: 1280px;
  }
  @media only screen and (max-width: 600px) {
    max-width: 600px;
  }
  @media only screen and (max-width: 300px) {
    max-width: 300px;
    padding: 0 30px;
  }
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .wrap {
    width: 360px;
  }
}

.main-container.position {
  position: relative;
}

.main-container.active {
  padding: ($height-header + 15px) 20px;
}

.container-page {
  margin-top: 50px;
  height: inherit;
}

.main {
  margin-left: auto;
  margin-right: auto;
}

.section {
  margin-top: 20px;
  display: grid;
  padding-top: 20px;
  gap: 10px;
  grid-template-columns: 1fr 1fr;

  h3 {
    margin-bottom: 20px;
  }
}

.function {
  &--active {
    color: #00a70d;
    font-weight: 700;
  }
  &--pre-sale {
    color: #007eff;
    font-weight: 500;
  }
  &--coming {
    color: #5a4fff;
    font-weight: 500;
  }
  &--disabled {
    color: red !important;
  }
}

.item {
  summary {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  &__header {
    border: 1px solid #e5e5e5;
    padding: 5px 8px;
    &:hover {
      background-color: #e5e5e5;
    }
  }
  &__content {
    border: 1px solid #e5e5e5;
  }
  &__description {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}

.actions-item {
  padding: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}
