// Colors

$primary: #29294d !default;
$secondary: #41436a !default;
$success: #28a745 !default;
$info: #f54768 !default;
$warning: #ffc107 !default;
$danger: #dc3545 !default;
$light: #fff !default;
$dark: #2a3950 !default;

//Font size body
$font-size-body: 0.885rem;
$font-color: #707070;

//header

$height-header: 70px;

//Color border
$color-border: #3c3c9d52;

$color-hover: #e8f1f2;

//app responsive
$width-laptop: 1280px;
$width-tablet: 1024px;
$width-tablet-ipad: 768px;
$width-smartphone: 480px;
